/* MENU LATERAL */

.menu {
    width: 130px;
    flex-shrink: 0;

    padding: 15px 10px;

    border: 1px solid #222222;
}


/* FORMULÁRIO DE REGISTRO */

.formulario-registro {
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;
}

.formulario-registro label {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.formulario-registro input {
    width: 100%;

    margin-bottom: 8px;
    padding: 8px;

    border: 1px solid #555555;
}

.formulario-registro button {
    padding: 8px;

    background-color: white;
    border: 1px solid #222222;

    cursor: pointer;
}


/* BOTÕES DO MENU */

.botoes-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-bottom: 25px;
}

.botoes-menu button {
    padding: 10px;

    background-color: white;
    border: 1px solid #222222;

    cursor: pointer;
}


/* TEXTOS DO MENU */

.menu-textos p {
    margin: 12px 0;
}