@media (max-width: 768px) {

    .cabecalho {
        flex-direction: column;
    }

    .navegacao {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .banner img {
        height: 250px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

}